extends ../layouts/layout.pug
block main-content
    .container.top-5
        block top-banner
            include ../patials/top-banner.pug
        block cloud-hosting
            include ../patials/cloud-hosting.pug
        block design-development
            include ../patials/design-development.pug