@import './components/color';

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    background: white;
    font-family: 'poppins', sans-serif;
} 

.container {
    width: 100%;
}
.top-5 {
    margin-top: 5em;
}

@import './components/button';
@import './components/nav';
@import './components/top-banner';
@import './components/cloud-hosting';
@import './components/design-development';
@import './components/progress-bar';
@import './components/our-feature';
@import './components/our-team';
@import './components/contact';
@import './components/recent';
@import './components/pricing';
@import './components/user-saying';
@import './components/slick-dots';
@import './components/ready-talk';
@import './components/the-news';
@import './components/footer';
@import './components/scroll-top';