.ctn-btn{
    display: flex;
    height: 50px;
    width: 15em;
    align-items: center;
    .btn-support {
        width:4em;
        height:1em;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: $btn;
        margin: 0 2em;
        padding: 1em 2em;
        border-radius: 0.3em;
        z-index: 1;
        position: absolute;
        transition: all .6s ease;
        overflow: hidden;
        color: whitesmoke;
        &:hover {
            transform: translateY(-15px);
            box-shadow: 0 10px 10px rgba(199, 121, 227, 0.404);
        }
        &:before {
            content: ' ';
            width: 100%;
            height: 100%;
            background-color: $btn-bf;
            z-index: 10;
            position: absolute;
            border: none;
            top: 0;
            left: -100%;
            transition: all .6s ease;
            &:hover {
                transform: translateX(60%);
                transition: all .6s ease;
            }
        }
        &:hover:before {
            content: ' ';
            width: 100%;
            height: 100%;
            background-color: $btn-bf;
            transform: translateX(60%);
            z-index: 10;
            position: absolute;
            top: 0;
            left: -100%;
            transition: all .6s ease;
        }
        &:after {
            content: ' ';
            width: 100%;
            height: 100%;
            background-color: $btn-bf;
            z-index: 10;
            position: absolute;
            border: none;
            top: 0;
            right: -100%;
            transition: all .6s ease;
            &:hover {
                transform: translateX(-60%);
                transition: all .6s ease;
            }
        }
        &:hover:after {
            content: ' ';
            width: 100%;
            height: 100%;
            background-color: $btn-bf;
            transform: translateX(-60%);
            z-index: 10;
            position: absolute;
            top: 0;
            right: -100%;
            transition: all .6s ease;
        }

        span {
            position: relative;
            z-index: 20;
        }
    }
}