$barwidth: 7em;
.design-development {
    background-color: white;
    width: 100%;
    padding: 2em 0;
    margin: auto;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: $text-color;
    overflow: hidden;
    .col-2 {
        width: 40%;
        min-width: 20em;
        text-align: left;
        display: inline-block;
        h3 {
            font-size: 25px;
        }
        .feature {
            width: 90%;
            display: block;
            i {
                display: inline-block;
                border-radius: 0.4em;
                width: 10em;
                padding: 1em;
                background-color: white;
                margin: 0.5em;
                transition: all 0.4s ease;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                span {
                    font-weight: normal;
                    margin-left: 0.5em;
                }
                &:hover {
                    transform: translateY(-0.5em);
                    background-image: $bg-gradient;
                }
            }
        }
    }
    .col-1 {
        width: 40%;
        min-width: 30em;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        .circle {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation-timing-function: linear;
            animation-name: circle;
            animation-iteration-count: infinite;
            animation-duration: 15s;
            overflow: hidden;
            @keyframes circle {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .design-development {
        width: 100%;
        .col-1 {
            width: 80%;
        }
        .col-2 {
            width: 80%;
        }
    }
}