section.cloud-hosting
    .container
        .col-1
            h3 Cloud Hosting Services
            .bar
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .feature
                i.fas.fa-database
                    span Cloud databases
                i.far.fa-hdd
                    span File storage
                i.fas.fa-globe-asia
                    span Website hosting
                i.fas.fa-chart-line
                    span Forex trading
                i.far.fa-folder-open
                    span File backups
                i.fas.fa-desktop
                    span Remote desktop
                i.far.fa-envelope
                    span Email servers
                i.fab.fa-soundcloud
                    span Hybrid clouds
        .col-2
            img(src="../../images/cloud-hosting-service/main-pic.png", alt="main pic").main-pic
            img(src="../../images/cercle-shape.png", alt="circle").circle
        