section.understand_users
    .text
        h3 Our Awesome TeamWe Always Try To Understand Users Expectation
        .bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .cards
        .card
            h3 180k
            p Downloaded
        .card
            h3 30k
            p Feedback
        .card
            h3 500+
            p Workers
        .card
            h3 70+
            p Contrubutors
section.contact
    .text
        h4 Have any question about us?
        p Don't hesitate to contact us
    .ctn-btn
        .btn-support 
            span CONTACT US