section.footer
    .container
        .col.col-1
            img(src="../../images/logo-2.png", alt="").logo
            span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
        .col.col-2
            h3 Company
            ul
                li
                    a About
                li
                    a Services
                li
                    a Features
                li
                    a Our Pricing
                li
                    a Latest News
        .col.col-3
            h3 Support
            ul
                li
                    a FAQ’s
                li
                    a Privacy Policy
                li
                    a Terms & Condition
                li
                    a Community
                li
                    a Contact
        .col.col-4
            h3 Address
            ul
                li
                    a 
                        i.fas.fa-map-marker-alt
                        | 
                        |28 Division St, New York, NY 10002, USA
                li
                    a 
                        i.far.fa-envelope
                        | 
                        |Email: Startnext@Gmail.Com
                li
                    a 
                        i.fas.fa-phone-volume
                        | 
                        |Phone: + (321) 984 754
    span.copyright Copyright @2019. All rights reserved