nav.nav
            section.nav-pc
                .container
                    .row-single
                        a(href="#").nav-logo
                            img(src="../../images/logo-2.png").logo-img
                        .nav-menu
                            ul
                                li Home 
                                li About 
                                li Features 
                                li.page Page ▼
                                    ul.sub_page
                                        li page 1
                                        li.page 
                                            a page 2
                                            ul.sub_page
                                                li page 2-1
                                                li page 2-2
                                                li page 2-3
                                        li page 3
                                li Blog 
                                li Contact 
                            .ctn-btn
                                .btn-support 
                                    span SUPPORT
            section.nav-mobile
                .container
                    img(src='../../images/logo-2.png').img-logo
                    .icon
                        i.fas.fa-bars.menu-logo
                    ul.menu-btn
                        li Home
                        li About
                        li Features
                        li 
                            a(href='#').link-page Page
                            ul.sub_page
                                li page 1
                                li
                                    a(href='#').link-page page 2
                                    ul.sub_page
                                        li page 2.1
                                        li page 2.2
                                        li page 2.3
                                li page 3
                        li 
                            a.link-page Blog
                            ul.sub_page
                                li Blog a
                                li Blog b
                                li Blog c
                        li Contact