section.our-feature
    h3 Our Features
    .bar
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .cards
        .card
            .icon
                i.fas.fa-cog
            .text
                span Incredible Infrastructure
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.fas.fa-cog
            .text
                span Incredible Infrastructure
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.fas.fa-cog
            .text
                span Incredible Infrastructure
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.fas.fa-cog
            .text
                span Incredible Infrastructure
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.