section.our-feature
    h3 Our Features
    .bar
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .cards
        .card
            .icon
                i.fas.fa-cog
            .text
                p.bold Incredible Infrastructure
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.far.fa-envelope
            .text
                p.bold Email Notifications
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.fas.fa-th-large
            .text
                p.bold Simple Dashboard
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.fas.fa-question-circle
            .text
                p.bold Information Retrieval
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.fas.fa-mouse-pointer
            .text
                p.bold Drag and Drop Functionality
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card
            .icon
                i.far.fa-bell
            .text
                p.bold Deadline Reminders
                p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.