section.pricing 
    .text
        h3 Pricing Plans
        .bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .cards
        .card
            .title BASIC PLAN
            .price
                sup $
                |15.00 
                span /Mon
            ul
                li 5 GB Bandwidth
                li Highest Speed
                li 1 GB Storage
                li Unlimited Website
                li Unlimited Users
                li 24x7 Great Support
                li Data Security and Backups
                li Monthly Reports and Analytics
            .ctn-btn
                .btn-support 
                    span SELECT PLAN
        .card
            .title BASIC PLAN
            .price
                sup $
                |15.00 
                span /Mon
            ul
                li 5 GB Bandwidth
                li Highest Speed
                li 1 GB Storage
                li Unlimited Website
                li Unlimited Users
                li 24x7 Great Support
                li Data Security and Backups
                li Monthly Reports and Analytics
            .ctn-btn
                .btn-support 
                    span SELECT PLAN
        .card
            .title BASIC PLAN
            .price
                sup $
                |15.00 
                span /Mon
            ul
                li 5 GB Bandwidth
                li Highest Speed
                li 1 GB Storage
                li Unlimited Website
                li Unlimited Users
                li 24x7 Great Support
                li Data Security and Backups
                li Monthly Reports and Analytics
            .ctn-btn
                .btn-support 
                    span SELECT PLAN

