section.ready-talk 
    .text
        h3 Ready To Talk?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .trial
            .ctn-btn 
                .btn-support
                    span Contact us
            a(href="") Or, get started now with a free trial
        p More that 1.5 million businesses and organizations use StartNext
    .partners
        .partner
            img(src="../../images/wp-content/partner-hover1-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-1-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover2-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-2-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover3-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-3-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover4-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-4-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover5-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-5-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover6-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-6-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover1-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-1-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover2-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-2-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover3-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-3-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover4-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-4-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover5-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-5-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover6-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-6-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover1-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-1-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover2-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-2-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover3-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-3-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover4-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-4-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover5-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-5-1-1.png", alt="").shadow
        .partner
            img(src="../../images/wp-content/partner-hover6-1-1.png", alt="").img
            img(src="../../images/wp-content/partner-6-1-1.png", alt="").shadow