section.recent
    h3 Our Recent Works
    .bar
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .cards-recent
        .card-recent
            img(src="../../images/ourRecentWorks/4-1-1-1.jpg", alt="")
            .over 
                .icon
                    i.fas.fa-cog
                .content
                    a.title Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card-recent
            img(src="../../images/ourRecentWorks/4-1-1-1.jpg", alt="")
            .over 
                .icon
                    i.fas.fa-cog
                .content
                    a.title Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        .card-recent
            img(src="../../images/ourRecentWorks/4-1-1-1.jpg", alt="")
            .over 
                .icon
                    i.fas.fa-cog
                .content
                    a.title Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.