section.the-news
    .text
        h3 The News From Our Blog
        .bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .cards
        .card
            img(src="../../images/blog-single-img/post-image-one-1-1.jpg", alt="").thumbnail
            .time
                i.far.fa-calendar
                | 
                span April 24, 2019
            .text
                a.title How to start your business as an entrepreneur
                .author by startp
                .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                a.readmore 
                    span Read More 
                    i.fas.fa-arrow-right
        .card
            img(src="../../images/blog-single-img/post-image-one-1-1.jpg", alt="").thumbnail
            .time
                i.far.fa-calendar
                | 
                span April 24, 2019
            .text
                a.title How to start your business as an entrepreneur
                .author by startp
                .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                a.readmore 
                    span Read More 
                    i.fas.fa-arrow-right
        .card
            img(src="../../images/blog-single-img/post-image-one-1-1.jpg", alt="").thumbnail
            .time
                i.far.fa-calendar
                | 
                span April 24, 2019
            .text
                a.title How to start your business as an entrepreneur
                .author by startp
                .description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                a.readmore 
                    span Read More 
                    i.fas.fa-arrow-right
        
