section.top-banner
    .row-1
        .col-1
            h3 Secure IT Solutions for a more secure environment
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            .ctn-btn
                .btn-support 
                    span Support
        .col-2
            img(src="../../images/man1/main-pic.png", alt="main pic")

    .row-2
        .block
            i.fas.fa-handshake
            h4 Zero Configuration
            p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.
        .block
            i.fas.fa-code
            h4 Zero Configuration
            p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.
        .block
            i.fas.fa-users
            h4 Zero Configuration
            p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.
        .block
            i.fab.fa-ravelry
            h4 Zero Configuration
            p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.

